.badges-container {
  display: flex;
  max-width: var(--page-width);
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin-inline: auto;
  padding-inline: 5rem;
  gap: 16px;
}

.badge-title {
  font-size: 2.2rem;
  font-weight: bolder;
  margin: 0;
}

.custom-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 250px;
  padding: 10px;
}

.custom-badge .badge-description {
  margin: 0;
}

.custom-badge svg {
  margin: 0;
}

.custom-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 1rem 4rem;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(var(--color-button-text));
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.custom-btn:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .badges-container {
    justify-content: center;
    gap: 20px;
  }

  .custom-badge {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .badges-container {
    justify-content: center;
    gap: 20px;
  }

  .custom-badge {
    width: 80%;
  }
}
