.badges-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: auto;
  padding: 1rem;
}

.custom-badge {
  text-align: center;
  height: 100%;
  width: fit-content;
  padding: 1rem;
}

.custom-badge p {
  font-size: 14px;
  font-family: var(--font-heading-family);
  font-weight: bold;
  margin: 0;
}

.badge-img {
  width: 50px;
  margin-bottom: 5px;
  position: absoloute;
}
